

.info_details
{
    margin-top: -50px;
    color:rgb(27, 26, 26);
    
    font-size: 16px;
    margin-left: 0;
    padding: 0 10px;
    font-weight:700;
    width: 60%;
    
}
.info_details h2{
    margin: 10px;
}

.info_details p{
    margin: 10px;
    margin-left: 20px;
    padding: 3px;
    color: rgb(4, 83, 147);
    font-size: 20px;
    text-align: left;
}

