.login
{
    
    background-color: rgb(115, 115, 252);
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
   
}

.login-left
{
 float: left;
  width: 60%;
  height: 100vh;
}

.login-right
{
  float: left;
  width: 40%;
  height: 100vh;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 244, 245);
}

.back-button
{
  color: rgb(24, 129, 129);
  display: flex;
  
 
  border-radius: 10px;
  width: 8%;
  cursor: pointer;
}

.back-button ArrowBackIcon
{
  margin-left:30px;
}

.login_form_title
{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}
.login_form_container
{
   
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid rgb(242, 244, 245);
}

.login_form_fields input
{
  padding: 15px;
  background-color: rgb(242, 244, 245);
  border:.5px solid lightgray;
  width: 70%;
  margin-bottom:30px ;
}

.textfield:focus
{
  outline-color:1px solid lightgray;
}

.login_form_submit button
{
  width: 30%;
  margin: auto;
  margin-top: 20px;
  padding: 15px; 
  font-size: 1.2em;
  background-color: white;
  color: rgb(78, 146, 248);
  border:1px solid rgb(98, 155, 240);

  border-radius: 10px;
}

.login_form_submit button:hover
{
  padding: 20px;
}

.sign-up
{
    margin: 10px 0;
    color: #0f254d;
    font-size: 18px;
}

.sign-up p{
    color: #3498db;
    text-decoration: none;
    padding-top:20px ;
}

.sign-up:hover p
{
    text-decoration: none;
    color: #034eda;
    cursor: pointer;
}

.forgot
{
    padding: 10px;
    color: #0f254d;
    font-size: 18px;
}

.forgot p{
    color: #3498db;
    text-decoration: none;
}

.forgot:hover p
{
    text-decoration: none;
    color: #034eda;
    cursor: pointer;
}